
body {
  font-family: 'Pretendard-Regular', sans-serif;
  margin: 0;
  background-color: #f5f5f5; /* 배경 색상 추가 */
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  background-color: white; /* 배경색 수정 */
}

.top-bar {
  width: 1440px;
  height: 109px; /* 높이 조정 */
  position: relative;
  border-bottom: 1px solid #ddd; /* 하단 경계선 추가 */
}

.search-bar {
  width: 200px;
  height: 35px;
  position: absolute;
  left: 1000px; /* 위치 조정 */
  bottom: 20px;
  border-radius: 15px;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
}

.search-bar input{
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 15px;
  padding-left: 15px;
  font-size: 15px;
  font-family:'Pretendard-Regular';
  outline: none;
  background: #f5f5f5;
}

.login-signup {
  position: absolute;
  left: 1250px; /* 위치 조정 */
  bottom: 30px;
  font-size: 18px;
  color: #787878;
  cursor: pointer;
}


.nav-list {
  position: absolute;
  left: 350px;
  bottom: 20px; /* 위치 조정 */
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  cursor: pointer;
}

.brand{
  position: absolute;
  left: 20px;
  top: 10px;
  font-size: 32px;
  font-family: 'Bad Script', serif;
  color: #000;
}

.title2{
 float: left;
	text-align:left;
margin-left:180px;
margin-top:35px;
  color: #000;
  font-size:30px;
}

.order{
  float: right;
  text-align: center;
margin-top:60px;
margin-right:20px;
  font-size: 18px;
}

.inID,
input[type="password"]{
  text-align:center;
  padding: 10px;
  width:70%;
  margin-bottom: 15px;
  border:none;
  border-radius: 15px;
  font-size: 20px;
  background-color: #f5f5f5;
  color:#848484;
}

.input, .btn{text-align:center;}

.blgin{
  text-align:center;
  padding: 10px 25px;
  margin:15px;
  border:none;
  border-radius: 15px;
  font-size: 15px;
  background-color:black;
  color:white;
  font-style:bold;
 
}
.chkblg{
margin-left:180px;
text-align:left;

}
.udr{
text-align:center;}

.gallery:hover {
  border: 1px solid #777;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 33.33333%
}

.gallery {
  border: 1px solid #ccc;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: left;
}

.price{
  padding: 15px;
  text-align: left;
  color: red;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}